body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #000;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

.logo {
    max-width: 100px;
    height: auto;
}

.container {
    background-color: #e0e0ff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 800px;
    margin: 100px auto;
}

h1 {
    color: #333;
}

.input-group {
    margin: 15px 0;
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
    margin-top: 5px;
}

select {
    background-color: #f9f9f9;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: #9b4d04;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #000;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.google-logo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

