<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="/tcc.js" defer></script>
    <title>Cadastro</title>
</head>
<body>
    <header>
        <img src="/tcc.png" alt="Logo da Loja de Cosméticos" class="logo">
    </header>
    <div class="container">
        <h1>Cadastro</h1>
        <form action="#" method="post" id="cadastroForm" th:action="">
            <div class="input-group">
                <label for="nome">Nome Completo:</label>
                <input type="text" id="nome" name="nome" required placeholder="Ex: Carlos Souza Silva">
            </div>
            <div class="input-group">
                <label for="data_nascimento">Data de Nascimento (DD/MM/AAAA):</label>
                <input type="text" id="data_nascimento" name="data_nascimento" required placeholder="Ex: 01/02/1999" pattern="\d{2}/\d{2}/\d{4}" maxlength="10">
                <span id="erroDataNascimento" class="erro"></span>
            </div>
            <div class="input-group">
                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" name="cpf" required placeholder="Ex: 123.456.789-00" maxlength="14">
                <span id="erroCpf" class="erro"></span>
            </div>
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required placeholder="Ex: Carlossouza@gmail.com">
            </div>
            <div class="input-group">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required placeholder="*******">
            </div>
            <div class="input-group">
                <label for="telefone">telefone:</label>
                <input type="text" id="telefone" name="telefone" required placeholder="Ex: 11934959567" maxlength="11">
                <span id="erroTelefone" class="erro"></span>
            </div>
            <div class="input-group">
                <label for="genero">Gênero:</label>
                <select id="genero" name="genero" required>
                    <option value="masculino">Masculino</option>
                    <option value="feminino">Feminino</option>
                    <option value="outro">Outro</option>
                    <option value="nao_dizer">Prefiro não dizer</option>
                </select>
            </div>
            <div class="input-group">
                <label for="interesses">Interesses:</label>
                <input type="checkbox" id="beleza" name="interesses" value="beleza">
                <label for="beleza">Beleza</label>
                <input type="checkbox" id="cuidados" name="interesses" value="cuidados">
                <label for="cuidados">Cuidados com a Pele</label>
                <input type="checkbox" id="barba" name="interesses" value="barba">
                <label for="barba">Cuidados com a Barba</label>
            </div>
            <div class="input-group">
                <button type="submit">Cadastrar</button>
            </div>
        </form>
        <h2>
            <img src="/google.png" alt="Entrar com o Google" class="google-logo"> Entrar com o Google
        </h2>
    </div>
    <footer>
        <p>&copy; 2023 Loja de Cosméticos. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
