<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crud</title>
        <link rel="stylesheet" href="/style1.css">
    </head>
    <body>
        <section>
            <div class="container">
                <div class="header">
                    <span>Cadastro de Usuarios</span>
                    <a th:href="@{/addiction-shoes/cliente/novo-cliente}" id="new">Incluir</a>
                </div>

                <div class="divTable">
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Telefone</th>
                                <th>CPF</th>
                                <th>Senha</th>
                                <th>Editar</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="cliente : ${listadeCliente}">
                                <td th:text="${cliente.nome}"></td>
                                <td th:text="${cliente.email}"></td>
                                <td th:text="${cliente.telefone}"></td>
                                <td th:text="${cliente.cpf}"></td>
                                <td th:text="${cliente.senha}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>             
            </div>
        </section>

        <script src="scripit.js"></script>
    </body>
</html>

<!--th:href="@{/comercio/produto/novo-user}"-->